/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.sample-show-hide {
  padding: 10px;
  border: 1px solid black;
  background: white; }

.sample-show-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.sample-show-hide.ng-hide {
  opacity: 0; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font: 100% "Lato", Helvetica, Arial, sans-serif;
  color: #34495e; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px; }

.container-narrow > hr {
  margin: 30px 0; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.large {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 6px; }

.bilf-one {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #D24D57;
  border-color: #D24D57; }
  .bilf-one:hover {
    background-color: #d7616a;
    background-color: #d7616a; }
  .bilf-one:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-one:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-two {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #DB0A5B;
  border-color: #DB0A5B; }
  .bilf-two:hover {
    background-color: #f30b65;
    background-color: #f30b65; }
  .bilf-two:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-two:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-three {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #D24D57;
  border-color: #D24D57; }
  .bilf-three:hover {
    background-color: #d7616a;
    background-color: #d7616a; }
  .bilf-three:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-three:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-four {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #DB0A5B;
  border-color: #DB0A5B; }
  .bilf-four:hover {
    background-color: #f30b65;
    background-color: #f30b65; }
  .bilf-four:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-four:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-five {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #FFECDB;
  border-color: #FFECDB; }
  .bilf-five:hover {
    background-color: #fff9f4;
    background-color: #fff9f4; }
  .bilf-five:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-five:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-six {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #F64747;
  border-color: #F64747; }
  .bilf-six:hover {
    background-color: #f75f5f;
    background-color: #f75f5f; }
  .bilf-six:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-six:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-seven {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #F1A9A0;
  border-color: #F1A9A0; }
  .bilf-seven:hover {
    background-color: #f4bdb6;
    background-color: #f4bdb6; }
  .bilf-seven:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-seven:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-eight {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #D2527F;
  border-color: #D2527F; }
  .bilf-eight:hover {
    background-color: #d7668e;
    background-color: #d7668e; }
  .bilf-eight:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-eight:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-nine {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #F62459;
  border-color: #F62459; }
  .bilf-nine:hover {
    background-color: #f73c6c;
    background-color: #f73c6c; }
  .bilf-nine:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-nine:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-ten {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #DCC6E0;
  border-color: #DCC6E0; }
  .bilf-ten:hover {
    background-color: #e6d7e9;
    background-color: #e6d7e9; }
  .bilf-ten:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-ten:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-eleven {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #663399;
  border-color: #663399; }
  .bilf-eleven:hover {
    background-color: #7339ac;
    background-color: #7339ac; }
  .bilf-eleven:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-eleven:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twelve {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #674172;
  border-color: #674172; }
  .bilf-twelve:hover {
    background-color: #764a82;
    background-color: #764a82; }
  .bilf-twelve:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twelve:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-thirteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #AEA8D3;
  border-color: #AEA8D3; }
  .bilf-thirteen:hover {
    background-color: #beb9dc;
    background-color: #beb9dc; }
  .bilf-thirteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-thirteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-fourteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #446CB3;
  border-color: #446CB3; }
  .bilf-fourteen:hover {
    background-color: #5379be;
    background-color: #5379be; }
  .bilf-fourteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-fourteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-fifteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #E4F1FE;
  border-color: #E4F1FE; }
  .bilf-fifteen:hover {
    background-color: #fdfeff;
    background-color: #fdfeff; }
  .bilf-fifteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-fifteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-sixteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #4183D7;
  border-color: #4183D7; }
  .bilf-sixteen:hover {
    background-color: #5691db;
    background-color: #5691db; }
  .bilf-sixteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-sixteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-seventeen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #81CFE0;
  border-color: #81CFE0; }
  .bilf-seventeen:hover {
    background-color: #95d7e5;
    background-color: #95d7e5; }
  .bilf-seventeen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-seventeen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-eighteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #4ECDC4;
  border-color: #4ECDC4; }
  .bilf-eighteen:hover {
    background-color: #62d3cb;
    background-color: #62d3cb; }
  .bilf-eighteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-eighteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-nineteen {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #A2DED0;
  border-color: #A2DED0; }
  .bilf-nineteen:hover {
    background-color: #b5e5da;
    background-color: #b5e5da; }
  .bilf-nineteen:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-nineteen:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #87D37C;
  border-color: #87D37C; }
  .bilf-twenty:hover {
    background-color: #98d98f;
    background-color: #98d98f; }
  .bilf-twenty:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-one {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #90C695;
  border-color: #90C695; }
  .bilf-twenty-one:hover {
    background-color: #a1cfa5;
    background-color: #a1cfa5; }
  .bilf-twenty-one:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-one:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-two {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #03C9A9;
  border-color: #03C9A9; }
  .bilf-twenty-two:hover {
    background-color: #03e2be;
    background-color: #03e2be; }
  .bilf-twenty-two:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-two:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-three {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #68C3A3;
  border-color: #68C3A3; }
  .bilf-twenty-three:hover {
    background-color: #7acaae;
    background-color: #7acaae; }
  .bilf-twenty-three:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-three:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-four {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #F5D76E;
  border-color: #F5D76E; }
  .bilf-twenty-four:hover {
    background-color: #f7de86;
    background-color: #f7de86; }
  .bilf-twenty-four:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-four:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-five {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #FDE3A7;
  border-color: #FDE3A7; }
  .bilf-twenty-five:hover {
    background-color: #feebc0;
    background-color: #feebc0; }
  .bilf-twenty-five:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-five:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-six {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #F89406;
  border-color: #F89406; }
  .bilf-twenty-six:hover {
    background-color: #fa9f1e;
    background-color: #fa9f1e; }
  .bilf-twenty-six:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-six:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-seven {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #ececec;
  border-color: #ececec; }
  .bilf-twenty-seven:hover {
    background-color: #f9f9f9;
    background-color: #f9f9f9; }
  .bilf-twenty-seven:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-seven:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.bilf-twenty-eight {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #6C7A89;
  border-color: #6C7A89; }
  .bilf-twenty-eight:hover {
    background-color: #798795;
    background-color: #798795; }
  .bilf-twenty-eight:focus {
    background-color: #cacfd2;
    border-color: #cacfd2; }
  .bilf-twenty-eight:active {
    background-color: #cacfd2;
    border-color: #cacfd2; }

.demo-row {
  margin-bottom: 20px; }

.btn-fui {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased; }

.btn-fui:hover,
.btn-fui:focus {
  color: #fff;
  outline: none; }

.btn-fui:active,
.btn-fui.active {
  outline: none;
  box-shadow: none; }

.btn-fui:focus:active {
  outline: none; }

.btn-fui.disabled,
.btn-fui[disabled],
fieldset[disabled] .btn-fui {
  color: rgba(255, 255, 255, 0.75);
  background-color: #bdc3c7;
  filter: alpha(opacity=70);
  opacity: .7; }

.btn-fui [class^="fui-"] {
  position: relative;
  top: 1px;
  margin: 0 1px;
  line-height: 1; }

.btn-fui-xs.btn-fui [class^="fui-"] {
  top: 0;
  font-size: 11px; }

.btn-fui-hg.btn-fui [class^="fui-"] {
  top: 2px; }

.btn-default-fui {
  color: #fff;
  background-color: #bdc3c7; }

.btn-default-fui:hover,
.btn-default-fui.hover,
.btn-default-fui:focus,
.btn-default-fui:active,
.btn-default-fui.active,
.open > .dropdown-toggle.btn-default-fui {
  color: #fff;
  background-color: #cacfd2;
  border-color: #cacfd2; }

.btn-default-fui:active,
.btn-default-fui.active,
.open > .dropdown-toggle.btn-default-fui {
  background: #a1a6a9;
  border-color: #a1a6a9; }

.btn-default-fui.disabled,
.btn-default-fui[disabled],
fieldset[disabled] .btn-default-fui,
.btn-default-fui.disabled:hover,
.btn-default-fui[disabled]:hover,
fieldset[disabled] .btn-default-fui:hover,
.btn-default-fui.disabled.hover,
.btn-default-fui[disabled].hover,
fieldset[disabled] .btn-default-fui.hover,
.btn-default-fui.disabled:focus,
.btn-default-fui[disabled]:focus,
fieldset[disabled] .btn-default-fui:focus,
.btn-default-fui.disabled:active,
.btn-default-fui[disabled]:active,
fieldset[disabled] .btn-default-fui:active,
.btn-default-fui.disabled.active,
.btn-default-fui[disabled].active,
fieldset[disabled] .btn-default-fui.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7; }

.btn-default-fui .badge {
  color: #bdc3c7;
  background-color: #fff; }

.btn-primary-fui {
  color: #fff;
  background-color: #1abc9c; }

.btn-primary-fui:hover,
.btn-primary-fui.hover,
.btn-primary-fui:focus,
.btn-primary-fui:active,
.btn-primary-fui.active,
.open > .dropdown-toggle.btn-primary-fui {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0; }

.btn-primary-fui:active,
.btn-primary-fui.active,
.open > .dropdown-toggle.btn-primary-fui {
  background: #16a085;
  border-color: #16a085; }

.btn-primary-fui.disabled,
.btn-primary-fui[disabled],
fieldset[disabled] .btn-primary-fui,
.btn-primary-fui.disabled:hover,
.btn-primary-fui[disabled]:hover,
fieldset[disabled] .btn-primary-fui:hover,
.btn-primary-fui.disabled.hover,
.btn-primary-fui[disabled].hover,
fieldset[disabled] .btn-primary-fui.hover,
.btn-primary-fui.disabled:focus,
.btn-primary-fui[disabled]:focus,
fieldset[disabled] .btn-primary-fui:focus,
.btn-primary-fui.disabled:active,
.btn-primary-fui[disabled]:active,
fieldset[disabled] .btn-primary-fui:active,
.btn-primary-fui.disabled.active,
.btn-primary-fui[disabled].active,
fieldset[disabled] .btn-primary-fui.active {
  background-color: #bdc3c7;
  border-color: #1abc9c; }

.btn-primary-fui .badge {
  color: #1abc9c;
  background-color: #fff; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complimentary"] {
  float: right;
  width: 31.25%; }

/*# sourceMappingURL=main.css.map */
