// In `app/sass/main.scss`
@import 'bourbon';
@import 'neat';
@import 'partials/animations';

$font-stack: "Lato", Helvetica, Arial, sans-serif;
$primary-color: #34495e;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font: 100% $font-stack;
  color: $primary-color;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
    max-width: 970px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.large {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 6px;
}

.demo-headline {
  padding: 73px 0 110px;
  text-align: center;
}

.demo-logo {
  margin: 10px 0;
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;

  .logo {
    width: 201px;
    height: 200px;
    margin: 0 auto 26px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(../images/Letter-Symbol@2x.png) center 0 no-repeat;
    background-size: 201px 200px;
  }

  small {
    display: block;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 700;
    color: rgba(52, 73, 94, .3);
    letter-spacing: 0;
  }
}

.demo-section-title {
  margin: 10px 0;
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.demo-panel-title {
  padding-top: 20px;
  margin: 2px 0 20px;
  font: bold 23px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.demo-margin {
  margin-bottom: 20px;
}

@mixin bilf-flat-base($color) {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;

  -webkit-font-smoothing: subpixel-antialiased;

  color: #fff;
  background-color: $color;
  border-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
    background-color: lighten($color, 10%);
  }
  &:focus {
    background-color: lighten($color, 5%);
    border-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}

.bilf-0{ @include bilf-flat-base(#D24D57);}
.bilf-1{ @include bilf-flat-base(#F22613);}
.bilf-2{ @include bilf-flat-base(#FF0000);}
.bilf-3{ @include bilf-flat-base(#D91E18);}
.bilf-4{ @include bilf-flat-base(#96281B);}
.bilf-5{ @include bilf-flat-base(#EF4836);}
.bilf-6{ @include bilf-flat-base(#D64541);}
.bilf-7{ @include bilf-flat-base(#C0392B);}
.bilf-8{ @include bilf-flat-base(#CF000F);}
.bilf-9{ @include bilf-flat-base(#E74C3C);}
.bilf-10{ @include bilf-flat-base(#DB0A5B);}
.bilf-11{ @include bilf-flat-base(#FFECDB);}
.bilf-12{ @include bilf-flat-base(#F64747);}
.bilf-13{ @include bilf-flat-base(#F1A9A0);}
.bilf-14{ @include bilf-flat-base(#D2527F);}
.bilf-15{ @include bilf-flat-base(#E08283);}
.bilf-16{ @include bilf-flat-base(#F62459);}
.bilf-17{ @include bilf-flat-base(#E26A6A);}
.bilf-18{ @include bilf-flat-base(#DCC6E0);}
.bilf-19{ @include bilf-flat-base(#663399);}
.bilf-20{ @include bilf-flat-base(#674172);}
.bilf-21{ @include bilf-flat-base(#AEA8D3);}
.bilf-22{ @include bilf-flat-base(#913D88);}
.bilf-23{ @include bilf-flat-base(#9A12B3);}
.bilf-24{ @include bilf-flat-base(#BF55EC);}
.bilf-25{ @include bilf-flat-base(#BE90D4);}
.bilf-26{ @include bilf-flat-base(#8E44AD);}
.bilf-27{ @include bilf-flat-base(#9B59B6);}
.bilf-28{ @include bilf-flat-base(#446CB3);}
.bilf-29{ @include bilf-flat-base(#E4F1FE);}
.bilf-30{ @include bilf-flat-base(#4183D7);}
.bilf-31{ @include bilf-flat-base(#59ABE3);}
.bilf-32{ @include bilf-flat-base(#81CFE0);}
.bilf-33{ @include bilf-flat-base(#52B3D9);}
.bilf-34{ @include bilf-flat-base(#C5EFF7);}
.bilf-35{ @include bilf-flat-base(#22A7F0);}
.bilf-36{ @include bilf-flat-base(#3498DB);}
.bilf-37{ @include bilf-flat-base(#2C3E50);}
.bilf-38{ @include bilf-flat-base(#19B5FE);}
.bilf-39{ @include bilf-flat-base(#336E7B);}
.bilf-40{ @include bilf-flat-base(#22313F);}
.bilf-41{ @include bilf-flat-base(#6BB9F0);}
.bilf-42{ @include bilf-flat-base(#1E8BC3);}
.bilf-43{ @include bilf-flat-base(#3A539B);}
.bilf-44{ @include bilf-flat-base(#34495E);}
.bilf-45{ @include bilf-flat-base(#67809F);}
.bilf-46{ @include bilf-flat-base(#2574A9);}
.bilf-47{ @include bilf-flat-base(#1F3A93);}
.bilf-48{ @include bilf-flat-base(#89C4F4);}
.bilf-49{ @include bilf-flat-base(#4B77BE);}
.bilf-50{ @include bilf-flat-base(#5C97BF);}
.bilf-51{ @include bilf-flat-base(#4ECDC4);}
.bilf-52{ @include bilf-flat-base(#A2DED0);}
.bilf-53{ @include bilf-flat-base(#87D37C);}
.bilf-54{ @include bilf-flat-base(#90C695);}
.bilf-55{ @include bilf-flat-base(#26A65B);}
.bilf-56{ @include bilf-flat-base(#03C9A9);}
.bilf-57{ @include bilf-flat-base(#68C3A3);}
.bilf-58{ @include bilf-flat-base(#65C6BB);}
.bilf-59{ @include bilf-flat-base(#1BBC9B);}
.bilf-60{ @include bilf-flat-base(#1BA39C);}
.bilf-61{ @include bilf-flat-base(#66CC99);}
.bilf-62{ @include bilf-flat-base(#36D7B7);}
.bilf-63{ @include bilf-flat-base(#C8F7C5);}
.bilf-64{ @include bilf-flat-base(#86E2D5);}
.bilf-65{ @include bilf-flat-base(#2ECC71);}
.bilf-66{ @include bilf-flat-base(#16a085);}
.bilf-67{ @include bilf-flat-base(#3FC380);}
.bilf-68{ @include bilf-flat-base(#019875);}
.bilf-69{ @include bilf-flat-base(#03A678);}
.bilf-70{ @include bilf-flat-base(#4DAF7C);}
.bilf-71{ @include bilf-flat-base(#2ABB9B);}
.bilf-72{ @include bilf-flat-base(#00B16A);}
.bilf-73{ @include bilf-flat-base(#1E824C);}
.bilf-74{ @include bilf-flat-base(#049372);}
.bilf-75{ @include bilf-flat-base(#26C281);}
.bilf-76{ @include bilf-flat-base(#F5D76E);}
.bilf-77{ @include bilf-flat-base(#F7CA18);}
.bilf-78{ @include bilf-flat-base(#F4D03F);}
.bilf-79{ @include bilf-flat-base(#FDE3A7);}
.bilf-80{ @include bilf-flat-base(#F89406);}
.bilf-81{ @include bilf-flat-base(#EB9532);}
.bilf-82{ @include bilf-flat-base(#E87E04);}
.bilf-83{ @include bilf-flat-base(#F4B350);}
.bilf-84{ @include bilf-flat-base(#F2784B);}
.bilf-85{ @include bilf-flat-base(#EB974E);}
.bilf-86{ @include bilf-flat-base(#F5AB35);}
.bilf-87{ @include bilf-flat-base(#D35400);}
.bilf-88{ @include bilf-flat-base(#F39C12);}
.bilf-89{ @include bilf-flat-base(#F9690E);}
.bilf-90{ @include bilf-flat-base(#F9BF3B);}
.bilf-91{ @include bilf-flat-base(#F27935);}
.bilf-92{ @include bilf-flat-base(#E67E22);}
.bilf-93{ @include bilf-flat-base(#ececec);}
.bilf-94{ @include bilf-flat-base(#6C7A89);}
.bilf-95{ @include bilf-flat-base(#D2D7D3);}
.bilf-96{ @include bilf-flat-base(#EEEEEE);}
.bilf-97{ @include bilf-flat-base(#BDC3C7);}
.bilf-98{ @include bilf-flat-base(#ECF0F1);}
.bilf-99{ @include bilf-flat-base(#95A5A6);}
.bilf-100{ @include bilf-flat-base(#DADFE1);}
.bilf-101{ @include bilf-flat-base(#ABB7B7);}
.bilf-102{ @include bilf-flat-base(#F2F1EF);}
.bilf-103{ @include bilf-flat-base(#BFBFBF);}

.btn-fui {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;

  -webkit-font-smoothing: subpixel-antialiased;
}
.btn-fui:hover,
.btn-fui:focus {
  color: #fff;
  outline: none;
}
.btn-fui:active,
.btn-fui.active {
  outline: none;
  box-shadow: none;
}
.btn-fui:focus:active {
  outline: none;
}
.btn-fui.disabled,
.btn-fui[disabled],
fieldset[disabled] .btn-fui {
  color: rgba(255, 255, 255, .75);
  background-color: #bdc3c7;
  filter: alpha(opacity=70);
  opacity: .7;
}
.btn-fui [class^="fui-"] {
  position: relative;
  top: 1px;
  margin: 0 1px;
  line-height: 1;
}
.btn-fui-xs.btn-fui [class^="fui-"] {
  top: 0;
  font-size: 11px;
}
.btn-fui-hg.btn-fui [class^="fui-"] {
  top: 2px;
}

.btn-default-fui {
  color: #fff;
  background-color: #bdc3c7;
  }
.btn-default-fui:hover,
.btn-default-fui.hover,
.btn-default-fui:focus,
.btn-default-fui:active,
.btn-default-fui.active,
.open > .dropdown-toggle.btn-default-fui {
  color: #fff;
  background-color: #cacfd2;
  border-color: #cacfd2;
  }
.btn-default-fui:active,
.btn-default-fui.active,
.open > .dropdown-toggle.btn-default-fui {
  background: #a1a6a9;
  border-color: #a1a6a9;
  }
.btn-default-fui.disabled,
.btn-default-fui[disabled],
fieldset[disabled] .btn-default-fui,
.btn-default-fui.disabled:hover,
.btn-default-fui[disabled]:hover,
fieldset[disabled] .btn-default-fui:hover,
.btn-default-fui.disabled.hover,
.btn-default-fui[disabled].hover,
fieldset[disabled] .btn-default-fui.hover,
.btn-default-fui.disabled:focus,
.btn-default-fui[disabled]:focus,
fieldset[disabled] .btn-default-fui:focus,
.btn-default-fui.disabled:active,
.btn-default-fui[disabled]:active,
fieldset[disabled] .btn-default-fui:active,
.btn-default-fui.disabled.active,
.btn-default-fui[disabled].active,
fieldset[disabled] .btn-default-fui.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  }
.btn-default-fui .badge {
  color: #bdc3c7;
  background-color: #fff;
  }

.btn-primary-fui {
  color: #fff;
  background-color: #1abc9c;
  }
.btn-primary-fui:hover,
.btn-primary-fui.hover,
.btn-primary-fui:focus,
.btn-primary-fui:active,
.btn-primary-fui.active,
.open > .dropdown-toggle.btn-primary-fui {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0;
  }
.btn-primary-fui:active,
.btn-primary-fui.active,
.open > .dropdown-toggle.btn-primary-fui {
  background: #16a085;
  border-color: #16a085;
  }
.btn-primary-fui.disabled,
.btn-primary-fui[disabled],
fieldset[disabled] .btn-primary-fui,
.btn-primary-fui.disabled:hover,
.btn-primary-fui[disabled]:hover,
fieldset[disabled] .btn-primary-fui:hover,
.btn-primary-fui.disabled.hover,
.btn-primary-fui[disabled].hover,
fieldset[disabled] .btn-primary-fui.hover,
.btn-primary-fui.disabled:focus,
.btn-primary-fui[disabled]:focus,
fieldset[disabled] .btn-primary-fui:focus,
.btn-primary-fui.disabled:active,
.btn-primary-fui[disabled]:active,
fieldset[disabled] .btn-primary-fui:active,
.btn-primary-fui.disabled.active,
.btn-primary-fui[disabled].active,
fieldset[disabled] .btn-primary-fui.active {
  background-color: #bdc3c7;
  border-color: #1abc9c;
  }
.btn-primary-fui .badge {
  color: #1abc9c;
  background-color: #fff;
  }

// Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

// Extended / Inheritance

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

// Math

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}
